@import "../../styles/colors";

.beerItem {
  align-items: center;
  background-color: transparentize($color-secondary, 0.3);
  border-radius: 5px;
  color: $color-primary;
  display: flex;
  height: 100%;
  margin: auto;
  max-height: 10rem;
  max-width: 50rem;
  min-height: 4rem;
  padding: 0.8rem;
}

.name {
  font-size: 1.2rem;
  display: flex;
  flex: 1;
  flex-basis: 40%;
}

.ibu {
  font-size: 1rem;
  display: flex;
  flex: 1;
  flex-basis: 15%;
}

.score {
  font-size: 1rem;
  display: flex;
  flex: 1;
  flex-basis: 15%;
}
.rate {
  display: flex;
  flex: 1;
  flex-basis: 30%;
}
